* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background: -webkit-linear-gradient(90deg, #f9d176,#70d9ae,#5fc1ec);background: linear-gradient(90deg, #f9d176,#70d9ae,#5fc1ec);
  width: 100%;
  height: 100vh;
  
}
.contenedor-gatos{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}
.cotenedor-cargar-gatos, .contenedor-cargar-gatos-favoritos{
  padding-top: 70px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-gatos{
  font-size: 3rem;
  font-weight: 700;
  color: #c300ff;
}
.contenedor-search {
padding-top: 20px;
display: flex;
align-items: center;
width: 100%;
}
.contenedor-search input{
  width: 100px;
  height: 25px;
  font-size: 1.3rem;
  margin-left: auto;
  padding-left: 10px;
}
.gatos-cargados{
  padding: 40px 0 20px 0;
  width: 100%;
  display: grid;
  grid-auto-flow: dense;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 270px));
  gap: 20px;
  overflow: auto; 
}
.gatos-cargados div{
  width: 270px;
  height: 200px;
  position: relative;
  box-shadow: -7px 15px 11px -1px rgba(0,0,0,1);
-webkit-box-shadow: -7px 15px 11px -1px rgba(0,0,0,1);
-moz-box-shadow: -7px 15px 11px -1px rgba(0,0,0,1);
border-radius: 20px;
}

.gatos-cargados::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.clase-gato {
  width: 270px;
  height: 200px;
  border-radius: 20px;
}

.icon-favorito{
    position: absolute;
    top: 10px ;
    right: 10px ;
    cursor: pointer;
}

.fa-heart,.fa-heart-crack{
    font-size: 3.1rem;
    color: #e40707;
}

.fa-heart:hover{
    color: #09da3d ;
}
.fa-heart-crack:hover{
  color: #f5bb1b ;
}
